kubernetesClusterDomain: cluster.local
otacdDeployment:
  otacd:
    env:
      flaskSecretKey: change-me-in-prod
      mongoDbName: otacd
      # MongoDB service name - update this to match your otacd-db release name
      # Format: <release-name>-mongodb-service.<namespace>.svc.cluster.local:27017
      mongoUrl: mongodb://otacd-db-mongodb-service.argocd.svc.cluster.local:27017
      email: admin@example.com
    image:
      repository: 192.168.68.64:5000/otacd
      tag: amd64_0.1.8
    resources:
      limits:
        cpu: "4"
        memory: 3Gi
      requests:
        cpu: "1"
        memory: 1Gi
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 1
    type: RollingUpdate
otacdService:
  ports:
    - nodePort: 30092
      port: 80
      protocol: TCP
      targetPort: 5000
  type: NodePort
pvc:
  otacdDataPvc:
    storageClass: ""
    storageRequest: 10Gi
pv:
  otacdDataPv:
    capacity: 10Gi
    hostPath: /home/vova/script_files

